.locationSection{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.locationContainer{
    display: flex;
    justify-content: start;
    align-items: start;
    border: 4px solid black;
    width: 1100px;
    border-radius: 16px;
}

.locationImage{
    height: 650px;
    width: 620px;
    border-radius: 12px 0px 0px 0px;
}

.rightPanelLocation{
   width: 100%;
}

.locationSectionText{
    background-color: #99C8FF;
    padding: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid black;
    border-radius: 0px 12px 0px 0px;
   
}

.locationHeading{
    margin-left: 8px;
}

.listItems{
    margin-left: 16px;
}
