.chip{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 10%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0px 24px;
    gap: 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight:400;
    /* min-width: 140px; */
}

