.networkCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: pink; */
    border: 3px solid black;
    width: 402px;
    height: 483px;
    border-radius: 16px;
}
.networkCard-content{
    padding: 0px 24px;
    margin-top: 28px;
    
}

.networkCard-icon{
    margin-bottom: 19px;
}

.networkCard-icon svg{
    height: 24px;
    width: 24px;

}

.networkCard-heading{
    margin-bottom: 20px;
}

.networkCard-text{
    margin-bottom: 35px;
    width: 320px;
}

.networkCard-btn{
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
}



