

.socialBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #0C513F;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 6px 18px;
    
    
}

.socialBtn-icons svg{
    height: 24px;
    width: 24px;
}
.socialBtn-text{
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}