
.Icon{
    background-color: black;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 4px;
}

.Icon svg{
    height: 24px;
    width: 21px;
}


.pageNumberActive{
    background: transparent;
    color: black;
    border-radius: 100%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 46px;
    margin-right: 4px;
}