@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



body{
  background-color: white;
   margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}