.Slider{
    background-color: #FFF3CC ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 350px;
    padding: 2px 18px 2px 4px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.active{
    background-color: #FFC501;
    padding: 12px 14px;
    border-radius: 30px;
}