.heroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.heroSection h1{
    font-size: 60px;
    font-weight: bold;
}

.text{
    font-size: 28px;
    text-align: center;
    width: 700px;
    font-weight: lighter;
}

.links{
    display: flex;
    margin-bottom: 64px;
}

.socials{
    background-color: #0C513F;
    margin: 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 48px; 
    width: 48px; 
    border-radius: 100%;
}

.socials svg{
    
    height: 28px; 
    width: 24px; 
    color: white;
}

.socialBtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100vh;
    margin-bottom: 86px;
}

